.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-size: 2em;
}

.navbar-header {
  font-family: 'Bowlby One SC';
  font-size: 2em;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.navbar-text {
  font-family: 'Arial';
  padding: 0px;
  text-align: left;
}

.social {
  color: lightgrey;
  font-size: 2em;

  a, a:link, a:visited, a:hover, a:active {
    color: lightgrey;
  }
}

footer {
  background-color: lightslategrey;
  font-size: .6em;
  color: lightgrey;
  text-align: center;

  a, a:link, a:visited, a:hover, a:active {
    color: lightgrey;
  }
}

.media {
  color: lightgrey;
}

